  <%= form_with url: flights_path, method: :get, class: "w-full mb-6" do |form| %>

    <div class="mb-3 is-flex is-flex-wrap-wrap" style="column-gap: 2rem;">
        <div class="field is-flex-grow-1">
          <%= form.label :departure_airport_id, 'departure airport', class: "label" %>
          <div class="control">
            <div class="select w-full">
              <%= select_tag :departure_airport_id, options_for_select(@departure_airport_options, @selected_departure_airport), include_blank: true, class: "w-full" %>
            </div>
          </div>
        </div>

        <div class="field is-flex-grow-1">
          <%= form.label :arrival_airport_id, 'arrival airport', class: "label" %>
          <div class="control">
            <div class="select w-full">
              <%= select_tag :arrival_airport_id, options_for_select(@arrival_airport_options, @selected_arrival_airport), include_blank: true, class: "w-full" %>
            </div>
          </div>
        </div>
    </div>

    <%# bottom form %>
    <div class="is-flex is-justify-content-space-between is-align-items-end">

      <%# controls, left %>
      <div class="is-flex is-flex-wrap-wrap" style="gap: 2rem;">

          <div class="field">
            <%= form.label :no_of_passengers, 'number of passengers', class: "label" %>
            <div class="control">
              <div class="select">
                <%= form.select :no_of_passengers, (1..4), selected: params[:no_of_passengers], style: "width: 15rem;" %>
              </div>
            </div>
          </div>

          <div class="field">
            <%= form.label :date, 'date', class: "label" %>
            <div class="control">
              <div class="select">
                <%= form.select :date, @dates, selected: params[:date] %>
              </div>
            </div>
          </div>
      </div>
      

      <div class="field mb-3">
        <div class="control">
            <%= form.submit 'search flights', class: "button button-confirm is-primary is-medium" %>
        </div>
      </div>

    </div>
  <% end %>

  <div class="panel mb-6" style="width: 100%">

    <%= form_with url: new_booking_path, method: :get do |f| %>
      <%# render @flights %>

      <% @flights.each do |flight| %>
        <%= render 'flight', flight: flight, form: f %>
      <% end %>

      <%= f.hidden_field :passengers, value: @no_of_passengers %>

      <%= f.submit 'continue', class: "button button-confirm is-primary is-outlined" %>
    <% end %>

  </div>
