<div class='w-full'>  
<p class="has-text-weight-bold is-size-5 mb-3">
  Booking Details
</p>

<div class="panel box">
  <div class="is-flex is-align-items-center is-size-4 is-size-5-mobile has-text-weight-bold" style="gap: 0.8em">
    <span>
      <%= @flight.departure_airport.name %>
    </span>
    <hr class="w-full">
    <i class="fa-solid fa-plane is-size-3 is-size-5-mobile has-text-grey-light" style="margin-right:0.2em"></i>
    <span>
      <%= @flight.arrival_airport.name %>
    </span>
  </div>

  <div>
    <p><%= @flight.date_formatted %></p>
    <p><%= @flight.duration_formatted %></p>
  </div>

  <div class="columns mt-0">
    <div class="column">
      <div class="line-left">
        <p class="label">departure</p>
        <p><%= @flight.departure_airport.name %></p>
        <p><%= @flight.departure_airport.code %></p>
        <p><%= @flight.departure_time %></p>
      </div>
    </div>

    <div class="column">
      <div class="line-left">
        <p class="label">arrival</p>
        <p><%= @flight.arrival_airport.name %></p>
        <p><%= @flight.arrival_airport.code %></p>
        <p><%= @flight.arrival_time %></p>
      </div>
    </div>

  </div>

</div>

  <p class='has-text-weight-bold is-size-5 mb-3'>Passenger information</p>

  <% @booking.passengers.each_with_index do |passenger, i| %>
    <div class='panel box'>
      <p class='has-text-weight-medium'><%= "Passenger #{i+1}" %></p>
      
      <hr class="mb-2 mt-1">

      <div class="columns">
        <div class="column">
          <p class="heading mb-0">first name</p>
          <p><%= passenger.first_name %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">last name</p>
          <p><%= passenger.last_name %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">email</p>
          <p><%= passenger.email %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">phone number</p>
          <p><%= passenger.phone_no %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>