<div class='w-full'>  

<% if @booking.confirmed %>
  <div class="has-background-primary-light box is-flex is-flex-direction-column is-align-items-center">
    <div>
      <i class="fa-regular fa-circle-check is-size-3 has-text-grey" style="margin-right:0.2em"></i>
      <span class="has-text-weight-bold is-size-3 mb-3 has-text-grey">Your booking has been confirmed</span>
    </div>
    <div class="is-size-4 has-text-grey-light">
      <p>Thank you for using Flightbooker!</p>
    </div>
  </div>


<% end %>

<p class="has-text-weight-bold is-size-5 mb-3">
  Booking Details
</p>

<div class="panel box">
  <div class="is-flex is-align-items-center is-size-4 is-size-5-mobile has-text-weight-bold" style="gap: 0.8em">
    <span>
      <%= @flight.departure_airport.name %>
    </span>
    <hr class="w-full">
    <i class="fa-solid fa-plane is-size-3 is-size-5-mobile has-text-grey-light" style="margin-right:0.2em"></i>
    <span>
      <%= @flight.arrival_airport.name %>
    </span>
  </div>

  <div>
    <p><%= @flight.date_formatted %></p>
    <p><%= @flight.duration_formatted %></p>
  </div>

  <div class="columns mt-0">
    <div class="column">
      <div class="line-left">
        <p class="label">departure</p>
        <p><%= @flight.departure_airport.name %></p>
        <p><%= @flight.departure_airport.code %></p>
        <p><%= @flight.departure_time %></p>
      </div>
    </div>

    <div class="column">
      <div class="line-left">
        <p class="label">arrival</p>
        <p><%= @flight.arrival_airport.name %></p>
        <p><%= @flight.arrival_airport.code %></p>
        <p><%= @flight.arrival_time %></p>
      </div>
    </div>

  </div>

</div>

  <p class='has-text-weight-bold is-size-5 mb-3'>Passenger information</p>

  <% @booking.passengers.each_with_index do |passenger, i| %>
    <div class='panel box'>
      <p class='has-text-weight-medium'><%= "Passenger #{i+1}" %></p>
      
      <hr class="mb-2 mt-1">

      <div class="columns">
        <div class="column">
          <p class="heading mb-0">first name</p>
          <p><%= passenger.first_name %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">last name</p>
          <p><%= passenger.last_name %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">email</p>
          <p><%= passenger.email %></p>
        </div>
        <div class="column">
          <p class="heading mb-0">phone number</p>
          <p><%= passenger.phone_no %></p>
        </div>
      </div>
    </div>
  <% end %>

<% unless @booking.confirmed %>
    <div>
    <%= form_with url: "/order/#{@booking.id}", id: 'order_form' do |form| %>
      <div>
        <button class="button is-primary is-large is-fullwidth mt-4" form="order_form">Book flight</button>
      </div>
    <% end %>
  </div>
<% end %>

</div>