<!DOCTYPE html>
<html>
  <head>
    <title>FlightBooker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/f005cdfe19.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <main>
    <%= yield %>
  </main>


  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <span>© Aleksandra Moszkowska</span>
        <a href="https://github.com/hykare"><i class="fa-brands fa-github"></i> github</a>
      </p>

      <div> Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik"> Freepik </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
  </footer>

  </body>
</html>
