<!DOCTYPE html>
<html>
  <head>
    <title>Flight Booker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/f005cdfe19.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('plane.svg') %>
  </head>

  <body>
  <main>
    <div class="container is-flex is-flex-direction-column is-align-items-center">
      <a href="/" class="mt-6 mb-6">
        <span class="icon mr-5 ml-4 is-size-1 has-text-primary">
            <i class="fa-solid fa-plane-departure"></i>
        </span>
        <span class="ml-1 is-size-1 has-text-weight-bold has-text-grey-dark">flight booker</span>
      </a>

      <%= yield %>

    </div>

  </main>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
      <span>by Aleksandra Moszkowska</span>
        <a href="https://github.com/hykare"><i class="ml-4 fa-brands fa-github"></i> github</a>
      </p>

    </div>
  </footer>

  </body>
</html>
